@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  font-family: "Yeseva One", cursive;
  background-color: rgba(198, 241, 217, 0.4);
  color: #5c5470;
}
header {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 100px;
  padding-left: 56px;
  font-size: 26px;
}
footer {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  color: #6643b5;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
}

.weather-app {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 20px;
}
.search-form {
  max-width: 500px;
  margin: 10px 10px 30px 10px;
  padding: 5px;
}
.search-text {
  border-top-color: #0a95c0;
  border-bottom-color: #0a95c0;
  box-shadow: rgba(0, 0, 0, 0.04) 4px 4px 2px 0;
}
.geo-btn {
  color: #3a9188;
  background-color: #b8e1dd;
  border-color: #0a95c0;
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 4px 4px 2px 0;
  transition: all 200ms ease-in-out;
}

.geo-btn:hover {
  color: aliceblue;
  background-color: rgba(4, 74, 66, 0.5);
}

.search-btn {
  transition: all 200ms ease-in-out;
  color: #3a9188;
  background-color: #b8e1dd;
  border-color: #0a95c0;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 4px 4px 2px 0;
}

.search-btn:hover {
  color: aliceblue;
  background-color: rgba(4, 74, 66, 0.5);
}

.info {
  opacity: 80%;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.04) 4px 4px 2px 0;
  margin-left: 20px;
  text-align: center;
  transition: all 200ms ease-in;
}
.info:hover {
  opacity: 100%;
  background-color: rgba(186, 252, 239, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.175);
}

.city-name {
  margin-top: 50px;
  font-size: 36px;
}
.day {
  margin-top: 20px;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
}
.time {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

.degree {
  margin-top: 5px;
  font-size: 46px;
  text-align: center;
}
.units {
  font-size: 18px;
  position: relative;
  top: -22px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

.describe {
  font-size: 20px;

  font-style: italic;
}

.describe:first-letter {
  text-transform: capitalize;
}

.wind-humidity {
  padding: 0 5px;
  margin-top: 20px;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
}
.humidity {
  margin-top: 30px;
}

.material-symbols-outlined {
  font-size: 18px;
  position: relative;
  top: 5px;
}

.git-hub {
  color: black;
}
.git-hub:hover {
  color: purple;
}
